---
import Layout from '../layouts/Layout.astro';
import FoodImg from '../components/FoodImg.astro'
import FoodSection from '../components/FoodSection.astro'
import 'animate.css';
---

<Layout title="Platos">
	<main>
		<FoodSection title="Ceviche">
			El ceviche es un plato típico de la gastronomía peruana y ha tenido tanto éxito que sus sabores se han extendido a otros países latinoamericanos. Hay muchas versiones de ceviche y es imposible decir que una sola es la correcta, pero en esta oportunidad compartiremos contigo una receta de ceviche peruano que intenta rescatar todo lo tradicional del delicioso ceviche original del Perú.
			<br>
			<br>
			Muchos disfrutan el ceviche o cebiche solo, pero también puedes acompañarlo con ricas guarniciones. En este caso, hemos utilizado camote, maíz tierno y unas hojas de lechuga para refrescar. Te invitamos a probarlo y a que descubras cómo hacer ceviche peruano de forma fácil y accesible para todos los niveles.
		</FoodSection>
		<FoodImg src="/landing-page-peru/img/ceviche-mariscos-tradicional-peru-chiles-garbanzos_127101-189.webp"></FoodImg>
	</main>
</Layout>

<style>
	main {
		background-color: #FFECDE;
		background: linear-gradient(180deg, #f9a76e 0%, #f3eee4 100%);
		font-family: 'Open Sans';
		min-height: 100vh;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 2em;
		/* padding: 4em; */
		box-sizing: border-box;
		overflow: hidden;
	}
</style>